.board {
  display: inline-block;
  border: 3px solid black;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

/* Thick bottom borders every 3 rows */
.row:nth-child(3n) .cell {
  border-bottom: 3px solid black;
}

/* Thick right borders every 3 columns */
.cell:nth-child(3n) {
  border-right: 3px solid black;
}

.invalid {
  background-color: #ffcccc;
}

.success {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.cell {
  width: 40px;
  height: 40px;

  text-align: center;
  font-size: 1.2rem;

  padding: 0;
  box-sizing: border-box;

  line-height: 40px;

  border: 1px solid #999;
  font-weight: bold;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

select, button {
  padding: 5px 10px;
  font-size: 14px;
}


