<div class="board">
  @for (row of grid; track $index; let rowIndex = $index) {
    <div class="row">
      @for (cell of row; track $index; let colIndex = $index) {
        <input
          [id]="'cell-' + rowIndex + '-' + colIndex"
          class="cell"
          [class.invalid]="invalidCells.has(rowIndex + '-' + colIndex)"
          type="text"
          maxlength="1"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          inputmode="numeric"
          pattern="[1-9]"
          [value]="cell === 0 ? '' : cell"
          [readonly]="!isEditable(rowIndex, colIndex)"
          (click)="selectCell(rowIndex, colIndex)"
          (keydown)="handleKey($event)"
          (input)="updateCell(rowIndex, colIndex, $any($event.target).value)"
        />

      }
    </div>
  }
</div>
<div class="timer">
  ⏱ {{ formattedTime }}
</div>

<div class="controls">
  <label>Difficulty:</label>
  <select [(ngModel)]="difficulty" (change)="loadPuzzle()">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
    <option value="evil">Evil</option>
  </select>

  <!--button (click)="loadPuzzle()">New Game</button-->
</div>
@if (isComplete) {
  <div class="success">
    🎉 Puzzle Complete! Sudokulous!
  </div>
}

