.board {
  display: inline-block;
  border: 3px solid black;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

/* Thick bottom borders every 3 rows */
.row:nth-child(3n) .cell {
  border-bottom: 3px solid black;
}

/* Thick right borders every 3 columns */
.cell:nth-child(3n) {
  border-right: 3px solid black;
}

